$banner-background-image: url('../../../public/header-background.jpg');
$primary-color: #0072d4;
$button-text-color: white;
$card-gap: 40px;
$card-title-color: #111;
$card-text-color: #666;

.page-banner {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-image: $banner-background-image;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  .banner-content {
    width: 45%;
    padding: 10px 0;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      margin-top: 20px;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2rem;
    }
    .banner-button {
      background-color: $primary-color;
      color: $button-text-color;
      height: 40px;
      border: none;
      border-radius: 20px;
      padding: 0px 55px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.card-list-container {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: $card-gap;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

.card {
  flex: 0 1 calc(33.33% - $card-gap);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  box-sizing: border-box;
  border-width: 4px;
  &.selected {
    border: solid 4px $primary-color;
  }
  .card-img-top {
    width: 100%;
    height: auto;
  }
  .card-body {
    padding: 15px;
    background: white;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    .card-title {
      font-size: 1.5rem;
      color: $card-title-color;
      margin-bottom: 0;
      margin-top: 0;
    }
    .card-text {
      font-size: 0.9rem;
      color: $card-text-color;
      margin-bottom: 20px;
      flex-grow: 1;
      white-space: pre-wrap;
    }
    .card-button {
      padding: 10px 0;
      border: none;
      border-radius: 20px;
      background-color: $primary-color;
      color: white;
      cursor: pointer;
      outline: none;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    flex-basis: calc(50% - $card-gap);
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}
